/*GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: none;
}

h2 {
  font-weight: bold !important;
  text-transform: uppercase;
}

section {
  padding: 3em;
}

i span {
  font-size: 0;
}

/*404*/
#error-404 {
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 20px;
}

/*REGISTER / LOGIN*/
form input {
  border-radius: 0.3em;
  padding: 0.5em;
  outline: 2px solid #C4A484;
  transition: 0.2s ease-in-out all;
  border: none !important;
  width: 100% !important;
  margin-bottom: 2.5em;
}

form input:focus {
  outline: 2px solid #98D9A3 !important;
  box-shadow: none !important;
  border: none !important;
}

form label {
  margin-bottom: 0.75em;
}

form button {
  width: 25%;
  padding: 1em 2em;
  border: none;
  background-color: #498a54;
  border-radius: 1em;
  color: white;
  font-weight: bold;
}

.disclaimer-form {
  font-size: 0.8em;
  margin-left: 0.8em;
  margin-bottom: 0;
  font-weight: normal;
}

/*TURNOS*/